git+https://github.com/wazo-pbx/xivo-lib-python.git  # from xivo-dao
git+https://github.com/wazo-pbx/xivo-dao.git
jinja2==2.10
netaddr==0.7.18
netifaces==0.10.4
pyyaml==3.12  # from xivo-lib-python
sqlalchemy==1.0.15  # from xivo-dao
