Source: xivo-config
Section: comm
Priority: extra
Maintainer: XiVO Dev Team <dev@avencall.com>
Uploaders: XiVO Builder Team <release@xivo.fr>
Build-Depends: cdbs, debhelper
Standards-Version: 3.7.2.2

Package: xivo-config
Architecture: all
Pre-Depends: nginx, rabbitmq-server
Depends: fail2ban, ipcalc, xivo-dhcpd-update, xivo-utils
Provides: pf-xivo-base-config, pf-sys-ca
Conflicts: asterisk-config, pf-xivo-base-config, pf-sys-ca
Replaces: pf-xivo-base-config, pf-sys-ca
Description: XIVO complete telephony solution -- base configuration
 XIVO is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This package contains asterisk-related specific configurations for
 the XIVO solution.
 .
  Homepage: http://xivo.fr/

