Source: xivo-config
Section: comm
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: cdbs, debhelper (>= 9)
Standards-Version: 3.9.6

Package: xivo-config
Architecture: all
Pre-Depends: rabbitmq-server, asterisk | asterisk-virtual
Depends: fail2ban, ipcalc, odbc-postgresql, odbcinst, python3, xivo-certs, xivo-dhcpd-update, xivo-utils
Conflicts: asterisk-config
Description: Wazo complete telephony solution -- base configuration
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This package contains asterisk-related specific configurations for
 the Wazo solution.
